/* =========================
HEADER STYLES
========================= */

header {
  background-color: #000;
  height: 100px;
}

header img {
  float: left;
  margin: 10px 15px;
}

header nav {
  float: right;
  margin: 25px 50px;
}

header nav a,
a:visited {
  color: #fff;
  text-transform: uppercase;
}

header nav a:hover {
  color: #5dfc0a;
}

nav ul li {
  display: inline;
  list-style: none;
  margin: 20px;
}
