/* ========================================
UNIVERSAL STYLES
======================================== */
* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/bg_pattern.jpg');
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* sticky footer using flexbox */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_content {
  flex-grow: 1;
  /*background-image: url('../img/bg_inner.png');*/
  position: relative;
  background: -moz-linear-gradient(45deg, rgba(156,156,156,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(156,156,156,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(156,156,156,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(156,156,156,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(156,156,156,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(156,156,156,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#9C9C9C',GradientType=1 ); /* ie6-9 */
}



/* ========================================
HEADER, FOOTER, & NAVIGATION STYLES
======================================== */

header,
footer {
  background-color: #000;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header img,
footer img {
  max-width: 75px;
  margin: 0 15px;
  border-radius: 100%;
}

header nav,
footer nav {
  margin: 0 50px;
}

header nav a,
footer nav a,
a:visited {
  color: #eaf0ce;
}

header nav a:hover,
footer nav a:hover {
  color: #5dfc0a;
}

nav ul li {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  display: inline;
  margin-right: 20px;
}
