/* ========================================
UNIVERSAL STYLES
======================================== */
* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/bg_pattern.jpg');
  /*max-width: 960px;*/
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* sticky footer using flexbox */

.wrapper {
  /*display: flex;
  flex-direction: column;*/
  min-height: 100vh;
}

.main_content {
  flex-grow: 1;
  /*background-image: url('../img/bg_inner.png');*/
}



/* ========================================
HEADER, FOOTER, & NAVIGATION STYLES
======================================== */

header,
footer {
  background-color: #000;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header img,
footer img {
  max-width: 75px;
  margin: 0 15px;
  border-radius: 100%;
}

header nav,
footer nav {
  margin: 0 50px;
}

header nav a,
footer nav a,
a:visited {
  color: #fff;
}

header nav a:hover,
footer nav a:hover {
  color: #5dfc0a;
}

nav ul li {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  display: inline;
  margin-right: 20px;
}
