/* =========================
ABOUT STRUCTURE STYLES
========================= */

.img_header,
.student_flex {
  display: flex;
  border-radius: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 100%;
  background-color: black;
}

.about_section {
  text-align: center;
  margin: 100px 50px;
  /*color: white;*/
  color: #5DFC0A;
  background-color: black;

}

.student_flex p {
  margin: 50px 30px;
  color: white;
  /*background-color: black;*/
}

.student_flex p span {
  font-weight: 700px;
  font-size: 20px;
  /*color: white*/
  color: #5DFC0A;
}

.img_header img {
  border-radius: 100%;
}
.student_flex img {
  border-radius: 100%;
}
