/* =========================
ABOUT STRUCTURE STYLES
========================= */


.img_header,
.student_flex {
  display: flex;
  font-family: 'Schoolbell', sans-serif;
  font-size: 25px;
  padding: 20px;
  border-radius: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10%;
  /*background-color: black;*/
  margin-bottom: -55px;
}

.about_section {
  text-align: center;
  font-family: 'Schoolbell', sans-serif;
  font-size: 25px;
  padding: 25px;
  margin: 35px 30px;
  /*color: white;*/
  color: #5DFC0A;
  /*background-color: black;*/

}

.student_flex p {
  margin: 40px 30px;
  color: white;
  /*background-color: black;*/
}

.student_flex p span {
  font-weight: 700px;
  font-size: 25px;
  /*color: white*/
  color: #5DFC0A;
}

.img_header img {
  border-radius: 100%;
}
.student_flex img {
  border-radius: 150%;
}
.about_section h1 {
  /*background-color: black;*/
  font-size: 70px;
  color: white;
  padding: 60px 35px;
}
.main_content {
    /*margin-bottom: 50px;  */
}
.change_name {
  font-family: 'Press Start 2P';
}
