/* =========================
GAME STRUCTURE STYLES
========================= */

.content_container {
  background-color: #ccc;
  display: flex;
  flex-direction: col;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 750px;
}

.game_Window {
  background-image: url('../../img/chalkboard_bg.jpeg');
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 60%;

  /*border: #5dfc0a solid 5px;*/
}

.instructions_content,
.points_content {
  width: 20%;
  vertical-align: top;
}
