/* =========================
GAME STRUCTURE STYLES
========================= */
.main_content {
  position: relative;
}

.content_container {
  background-color: #ccc;
  padding-top: 50px;
}

.page_title {
  text-align: center;
  margin-top: 0;
}

.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 750px;
}

.johnny {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.game_Window {
  background-image: url('../../img/chalkboard_bg.jpeg');
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 90%;
  margin-bottom: 30px;
  padding: 15px;
  border: 5px solid #000;
  font-family: Courier, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  color: #5dfc0a;
  position: relative;
}

#answer {
  font-family: Courier, sans-serif;
  font-size: 28px;
  color: #5dfc0a;
  width: 80%;
  text-transform: uppercase;
  display: block;
  outline: none;
  position:absolute;
  bottom: 10px;
  background-color: transparent;
  border: 0;
}

.instructions_content,
.points_content {
  width: 600px;
  height: 450px;
  padding: 0 10px;
  color: #5dfc0a
}

.instructions_content h2 {
  font-size: 18px;
  font-family: 'Press Start 2P', sans-serif;
  text-decoration: underline;
}

.instructions_content li {
  margin: 20px 0 20px 0;
  font-size: 18px;
  font-family: 'Courier', sans-serif;
  color: #fff;
}

.instructions_content ol p {
  font-size: 18px;
}

.instructions_content span {
  text-decoration: underline;
}

.instructions_content p {
  font-size: 14px;
  font-family: 'Press Start 2P', sans-serif;
}

.page_title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #5dfc0a;
  text-align: center;

  max-width: 600px;
  background-color: #000;
  margin: 20px auto;
  border: 2px solid #152614;
  padding: 20px;
}

.play_now_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro_text {
  display: none;
}

#game_start {
  background: #152614;
  background-image: -webkit-linear-gradient(top, #152614, #5dfc0a);
  background-image: -moz-linear-gradient(top, #152614, #5dfc0a);
  background-image: -ms-linear-gradient(top, #152614, #5dfc0a);
  background-image: -o-linear-gradient(top, #152614, #5dfc0a);
  background-image: linear-gradient(to bottom, #152614, #5dfc0a);

  font-family: 'Press Start 2P', sans-serif;;
  font-size: 20px;
  color: #fff;
  text-shadow: 3px 3px 2px #000;
  text-align: center;

  margin-bottom: 100px;
  border: 2px solid #000;
  border-radius: 8px;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
  padding: 10px 20px 10px 20px;
}

#game_start:hover {
  background: #152614;
  background-image: -webkit-linear-gradient(top, #5dfc0a, #152614);
  background-image: -moz-linear-gradient(top, #5dfc0a, #152614);
  background-image: -ms-linear-gradient(top, #5dfc0a, #152614);
  background-image: -o-linear-gradient(top, #5dfc0a, #152614);
  background-image: linear-gradient(to bottom, #5dfc0a, #152614);
  cursor: pointer;
}

/* ========================================
DEATHFUNCTION FORM STYLES
======================================== */

#pop_up{
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #000;
  width: 50%;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 50px auto;
  margin-bottom: 275px;
  border: 5px solid #fff;
  padding: 10px;
}


#pop_up p {
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
  margin-bottom: 30px;

  text-align: center;
}

#pop_up h1 {
  font-size: 48px;
  color: #ff0000;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

#pop_up p, h1, form label, form label input {
  font-family: Courier, monospace;
}

#pop_up input {
  font-size: 14px;
  color: #5dfc0a;
  text-transform: uppercase;
  background-color: #000;
  border: 3px solid #152614;
  padding: 5px;
  width: 80%;
  height: 30px;
}

#pop_up input:focus {
  outline: none;
}

#results {
  background: #152614;
  background-image: -webkit-linear-gradient(top, #152614, #5dfc0a);
  background-image: -moz-linear-gradient(top, #152614, #5dfc0a);
  background-image: -ms-linear-gradient(top, #152614, #5dfc0a);
  background-image: -o-linear-gradient(top, #152614, #5dfc0a);
  background-image: linear-gradient(to bottom, #152614, #5dfc0a);

  font-family: 'Press Start 2P', sans-serif;;
  font-size: 20px;
  color: #fff;
  text-shadow: 3px 3px 2px #000;
  text-align: center;

  width: 100%;
  margin-top: 25px;
  border: 2px solid #000;
  border-radius: 8px;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
  padding: 10px 20px 10px 20px;
}

#results:hover {
  background: #152614;
  background-image: -webkit-linear-gradient(top, #5dfc0a, #152614);
  background-image: -moz-linear-gradient(top, #5dfc0a, #152614);
  background-image: -ms-linear-gradient(top, #5dfc0a, #152614);
  background-image: -o-linear-gradient(top, #5dfc0a, #152614);
  background-image: linear-gradient(to bottom, #5dfc0a, #152614);
  cursor: pointer;
}
