/* ========================================
MAIN CONTENT STYLES
======================================== */

section h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #5dfc0a;
  text-align: center;

  max-width: 600px;
  background-color: #000;
  margin: 20px auto;
  border: 2px solid #152614;
  padding: 20px;
}

.scores_table_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tableWrap {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #5dfc0a;

  max-width: 600px;
  background-color: #000;
  border: 2px solid #152614;
  padding: 10px 15px;
}

button {
  background: #152614;
  background-image: -webkit-linear-gradient(top, #152614, #5dfc0a);
  background-image: -moz-linear-gradient(top, #152614, #5dfc0a);
  background-image: -ms-linear-gradient(top, #152614, #5dfc0a);
  background-image: -o-linear-gradient(top, #152614, #5dfc0a);
  background-image: linear-gradient(to bottom, #152614, #5dfc0a);

  font-family: 'Press Start 2P', sans-serif;;
  font-size: 20px;
  color: #eaf0ce;
  text-shadow: 3px 3px 2px #000;

  margin: 40px auto;
  border: 2px solid #000;
  border-radius: 8px;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
  padding: 10px 20px 10px 20px;
}

button:hover {
  background: #152614;
  background-image: -webkit-linear-gradient(top, #5dfc0a, #152614);
  background-image: -moz-linear-gradient(top, #5dfc0a, #152614);
  background-image: -ms-linear-gradient(top, #5dfc0a, #152614);
  background-image: -o-linear-gradient(top, #5dfc0a, #152614);
  background-image: linear-gradient(to bottom, #5dfc0a, #152614);
  cursor: pointer;
}
